[SddmGreeterTheme]
Name="White Flowers"
Description=Nature
Author=Anakai Richards
Copyright=Copyright (C) 2020 Anakai Richards
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Screenshot=preview/preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=white-flowers
Theme-API=2.12
